<script src="./JS/login.js"></script>
<link rel="stylesheet" href="./CSS/login.css">
<div class="login-container">
    <h1>LOGIN</h1>
    <form action="/login" method="POST">
        <input type="text" placeholder="Username" name="username" class="input">
        <input type="password" placeholder="Password" name="password" class="input">
        <input type="submit" value="Login" class="sbtn">
    </form>
</div>
