.product-box {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; /* Ensures content is arranged vertically */
    justify-content: space-between; /* Ensures space is distributed evenly */
}

.product-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image {
    width: 100%;
    height: 200px; /* Set a fixed height for the images */
    border-radius: 10px;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.product-name {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-price {
    font-size: 1.2em;
    color: green;
}

.product-description {
    margin: 10px 0;
    color: #555;
    flex-grow: 1; /* Makes the description take up available space */
}

.product-actions {
    display: flex;
    justify-content: space-between;
    margin-top: auto; /* Pushes the action buttons to the bottom */
}
label{
    font-size: medium;
    font-weight: bold;
}
.addnew-container {
    margin-bottom: 20px; 
    display: flex;
}

.product-actions a, .addnew {
    text-decoration: none;
    color: white;
    background-color: #A81612;
    padding: 5px 12px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.addnew {
    padding: 9px;
    margin-left: 10px;
}
.addnew:hover {
    color: #000000;
}


.pages {
    margin: 10px; /* Add margin to create space above pages */
    list-style: none;
    display: inline;

}
.page-i{
    text-decoration: none;
    color: #000;
    font-weight: bold;

}
.menu {
    margin-bottom: 10px; 
}


.product-actions a:hover {
    color: #000000;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
