
<script src="./JS/cotactform.js"></script>
<div class="contact">
    <h1>CONTACT</h1>   
    <img src="./images/pizza.jpg" alt="img" class="fade-in dull-image">          
</div>

<div class="i-f">
    <div id="info">
        <h2 class="cont">INFORMATION</h2>
        <h3><i class="material-icons">phone</i>Phone</h3>
        <span>04235188262  03081128622</span> 
        <h3><i class="material-icons">location_on</i>Address</h3>
        <span>Ijaz Center Gulberg 3,Lahore  </span>
        <h3><i class="material-icons">email</i>Email</h3>
        <span>info@foodvalley.pk</span>
    </div>
    <div id="form">
        <h2 class="cont">SEND US A MESSEGE</h2>
        <p>We're determined to be the best! To help us maintain the service and quality that you expect, we hope you will take a moment to let us know how we're doing.</p>
        <form action="">
            <input type="text" placeholder="Name*" class="input">
            <input type="email" placeholder="Email*" class="input">
            <input type="tel" placeholder="Phone*" pattern="[0-9]{11,}" required minlength="11" class="input">
            <input type="text" placeholder="Subject*" class="input">
            <textarea placeholder="Messege*" class="messege input"></textarea>
            <input type="submit" value="Submit" class="sbtn" id="submit">
        </form>
    </div>
</div>
