<link rel="stylesheet" href="./CSS/login.css">
<form action="" method="post">
    <h1>SIGNUP</h1>
    <input type="text" name="name" placeholder="Name" class="input"> <br />
    <input type="email" name="email" placeholder="Email" class="input"> <br />
    <input type="password" name="password" placeholder="Password" class="input"> <br />
    <input type="submit" value="Signup" > <br />
</form>