.contain{
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.ri{
    display: inline;
    width:fit-content ;
    padding-left: 5px;
    padding-right: 5px;
    margin: 2px;
    
    }

#mail{
    border-left: 1px solid grey;
        
}

#logo{
    width: 90px;
    height: 90px;
}
.nav_l a{
    text-decoration-line: none;
    color: white
    }

.nav_l {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    background-color:#A81612;
    margin: 0;
}
.navbar{
    position: sticky;
    background-color: #A81612;
    z-index: 1;
    top: 0;
    
}
.dropdown-menu{
    background-color: #A81612;
    z-index: 2;
        
}

.welcome{
    color: #A81612;
    padding-top: 40px;
    text-align: center;
}
.welcome h1{
 font-size: 50pt;   
}

.nav_l li{
    padding-left: 15pt;
    justify-content:space-between;
    font-size: 15pt;
}
.nav_l a:hover{
    color: black;
}


.dropdown-menu .dropdown-item {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2); 
}

.dropdown-menu .dropdown-item:hover{
    background-color: rgba(146, 137, 137, 0.564);
}


#carouselExampleControls{
    background-color: gray;
    height: fit-content;
}

.row{
    width: 100%;
}

.carousel-item {
    height: 440px;       
}


.btn{
    display: none;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}



.menu a {
    color: #333;
    text-decoration: none;
    padding: 10px;
}



    @media screen and (max-width: 550px) {
        #carouselExampleControls{
            height: 200px;
            overflow: hidden;            
        }
        
        .img2{
            height: 230px;
        }

        .img2::after{
            height: 230px;
            overflow: hidden;
        }
        .navbar {
            justify-content: flex-start;
            padding-left: 20px;
        }
    
        .nav_l {
            display: none;
        }
    
        .btn {
            display: block;            
        }
        
        .btn:focus{
            border: none;
        }

        .dropdown-menu:hover{
            color: #000;
        }

        .dropdown-menu a{
            color: white;
        }
    
        .btn::after {
            display: none;
        }

        .bar {
            width: 25px;
            height: 3px;
            background-color: white;
            margin: 4px 0;
            transition: box-shadow 0.4s ease;
        }

        .btn:hover,.bar:focus {
            background-color: black;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

    }
    




/* Color Theme Swatches in Hex */
.chipotle-1-hex { color: #451401; }
.chipotle-2-hex { color: #FF0000; }
.chipotle-3-hex { color: #A81612; }
.chipotle-4-hex { color: #F4F2F1; }
.chipotle-5-hex { color: #000000; }

/* Color Theme Swatches in RGBA */
.chipotle-1-rgba { color: rgba(68, 20, 1, 1); }
.chipotle-2-rgba { color: rgba(255, 0, 0, 1); }
.chipotle-3-rgba { color: rgba(168, 21, 17, 1); }
.chipotle-4-rgba { color: rgba(244, 242, 240, 1); }
.chipotle-5-rgba { color: rgba(0, 0, 0, 1); }
