<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#carouselExampleControls" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item img2 active">
            <img class="d-block w-100" src="./images/torilla.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./images/burger.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="./images/pizza.jpg" alt="Third slide">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="welcome">
    <h1>Welcome To Food Valley</h1>      
</div>
<div id="aboutus">
    <h2>ABOUT US</h2>
    <p>
      Welcome to FOOD VALLEY, where flavor meets convenience! At FOOD VALLEY, we're
      passionate about providing our customers with delicious fast food
      options that satisfy cravings and fit into busy lifestyles. Our menu
      boasts a mouthwatering selection of burgers, fries, wraps, salads, and
      more, all made with fresh, quality ingredients. Whether you're grabbing
      a quick bite on your lunch break or treating yourself to a tasty meal
      with friends and family, FastBite is here to serve you. With our
      commitment to great taste, speedy service, and affordable prices, we aim
      to become your go-to spot for satisfying fast food cravings.
    </p>
  </div>