<link rel="stylesheet" href="../../CSS/style.css">
<link rel="stylesheet" href="../../CSS/edit.css">
<h1>Product Management</h1>
    <form action="/new" method="post">
        <input type="text" name="name" placeholder="Name" class="input" required>
        <input type="number" name="price" placeholder="Price" class="input" required>
        <input type="text" name="description" placeholder="Description" class="input" required>
        <input type="text" name="image" placeholder="Image URL" class="input" required>
        <input type="checkbox" id="isFeatured" name="isFeatured" required> 
        <input type="submit" name="add" value="Add Product" >
        
    </form>

